In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

pd.set_option('display.max_columns', 10) #Display the whole columns
pd.set_option('display.max_rows', 10) #Display the whole rows

In [2]:
!ls

 books.py			    DS_BOOKS_MX_CLEAN.csv    __pycache__
'Data Analysis MX.ipynb'	    DS_BOOKS_USA_CLEAN.csv   Trash
'Data Analysis USA version.ipynb'   __init__.py		    'USA April.csv'
 ds_books.json			   'MX April.csv'	    'Viz Mx'
 ds_books_MX_april.json		    october		     Wrangling.ipynb

# The Questions:

## Best books: High rated and reviewed books
## Worst books: Low rated and high reviewed books
## Most expensive books
## Price Distribution

I will analyse mexican dataset

In [3]:
df = pd.read_csv('DS_BOOKS_MX_CLEAN.csv')

In [4]:
df.sample(10)

,url,title,stars,reviewers,cost,cost_2,cost_3,kindle,kindle_2,kindle_3
177,https://www.amazon.com.mx/Agile-Data-Science-2...,Agile Data Science 2.0: Building Full-Stack Da...,4.1,28,0.00,0.00,375.00,375.00,375.00,375.00
282,https://www.amazon.com.mx/Data-Nerd-calcoman%C...,Calcomanía de datos nerd divertida Geek Nerd S...,0.0,0,0.00,0.00,126.42,0.00,0.00,0.00
27,https://www.amazon.com.mx/Hands-Machine-Learni...,"Hands-On Machine Learning with Scikit-Learn, K...",4.8,1,841.25,577.00,NaN,0.00,841.25,0.00
230,https://www.amazon.com.mx/dp/B0932W6YW8/ref=sr...,Space Sciences Data Processing (English Edition),0.0,0,0.00,0.00,279.40,279.40,279.40,279.40
254,https://www.amazon.com.mx/Cleaning-Data-Effect...,Cleaning Data for Effective Data Science: Doin...,0.0,0,0.00,0.00,364.16,364.16,364.16,364.16
118,https://www.amazon.com.mx/Pandas-Everyone-Pyth...,Pandas for Everyone: Python Data Analysis,4.4,163,837.60,509.00,NaN,0.00,837.60,0.00
150,https://www.amazon.com.mx/Tarjeta-term%C3%B3me...,Termómetro termopar tipo K de 4 canales multic...,4.3,33,0.00,0.00,451.78,0.00,0.00,0.00
246,https://www.amazon.com.mx/Measuring-Abundance-...,Measuring Abundance: Methods for the Estimatio...,0.0,0,953.21,789.17,NaN,0.00,953.21,0.00
252,https://www.amazon.com.mx/dp/B0933M3PHP/ref=sr...,Bayesian Networks: With Examples in R (Chapman...,0.0,0,0.00,0.00,599.20,599.20,599.20,599.20
197,https://www.amazon.com.mx/Analytics-Descriptiv...,"Fraud Analytics Using Descriptive, Predictive,...",3.9,41,0.00,747.00,NaN,0.00,0.00,0.00

In [5]:
df.sort_values(by='stars', ascending=False)

,url,title,stars,reviewers,cost,cost_2,cost_3,kindle,kindle_2,kindle_3
0,https://www.amazon.com.mx/Data-Science-Program...,Data Science Programming All-In-One for Dummies,5.0,18,517.20,664.80,NaN,0.00,517.20,0.00
10,https://www.amazon.com.mx/Understanding-Robust...,Understanding Robust and Exploratory Data Anal...,5.0,2,791.99,0.00,NaN,0.00,791.99,0.00
1,https://www.amazon.com.mx/Data-Science-Educati...,Data Science in Education Using R,5.0,8,9.40,799.20,NaN,0.00,9.40,0.00
15,https://www.amazon.com.mx/Core-science-illustr...,Core data science with illustrations in R and ...,5.0,1,0.00,0.00,149.99,149.99,0.00,149.99
14,https://www.amazon.com.mx/Data-Science-2-0-Ras...,Data Science 2.0 With Raspberry Pi 3 and Ardui...,5.0,1,0.00,0.00,78.55,78.55,0.00,78.55
...,...,...,...,...,...,...,...,...,...,...
251,https://www.amazon.com.mx/Data-Governance-Defi...,"Data Governance: The Definitive Guide: People,...",0.0,0,0.00,865.22,NaN,0.00,0.00,0.00
250,https://www.amazon.com.mx/dp/B0933M2P7W/ref=sr...,Big Data and Artificial Intelligence for Healt...,0.0,0,0.00,0.00,943.20,943.20,943.20,943.20
249,https://www.amazon.com.mx/Data-Will-Not-Betray...,Data It Will Not Betray You: Computer Data Sci...,0.0,0,89.39,0.00,NaN,0.00,89.39,0.00
248,https://www.amazon.com.mx/Essay-Concerning-Hum...,An Essay Concerning Humane Understanding (Engl...,0.0,0,0.00,0.00,79.07,79.07,79.07,79.07
305,https://www.amazon.com.mx/Python-data-science-...,Python for data science: The ultimate step-by-...,0.0,0,679.00,0.00,NaN,0.00,679.00,0.00

In [6]:
df_50 = df.query('reviewers > 10 and stars >= 4')

### HIgher rated

In [7]:
df_50

,url,title,stars,reviewers,cost,cost_2,cost_3,kindle,kindle_2,kindle_3
0,https://www.amazon.com.mx/Data-Science-Program...,Data Science Programming All-In-One for Dummies,5.0,18,517.20,664.80,NaN,0.00,517.20,0.00
16,https://www.amazon.com.mx/Feminism-Assistant-P...,Data Feminism,4.9,106,605.18,477.00,NaN,0.00,605.18,0.00
17,https://www.amazon.com.mx/Hands-Introduction-D...,A Hands-On Introduction to Data Science,4.9,29,999.80,898.42,NaN,0.00,999.80,0.00
18,https://www.amazon.com.mx/Date-Live-Vol-Light-...,"Date a Live, Vol. 1 (Light Novel): Dead-End Tohka",4.9,29,274.19,179.27,NaN,0.00,274.19,0.00
19,https://www.amazon.com.mx/Interactive-Web-Base...,Interactive Web-Based Data Visualization with ...,4.9,11,499.00,279.20,NaN,0.00,499.00,0.00
...,...,...,...,...,...,...,...,...,...,...
190,https://www.amazon.com.mx/Data-Science-Handboo...,The Data Science Handbook,4.0,42,241.20,34.40,NaN,0.00,241.20,0.00
191,https://www.amazon.com.mx/Machine-Learning-Mat...,Machine Learning Mathematics: Study Deep Learn...,4.0,35,0.00,0.00,149.99,149.99,0.00,149.99
192,https://www.amazon.com.mx/Python-Data-Analytic...,"Python Data Analytics: With Pandas, Numpy, and...",4.0,16,637.64,945.50,NaN,0.00,637.64,0.00
193,https://www.amazon.com.mx/Data-Science-Compreh...,Data Science: A Comprehensive Beginner’s Guide...,4.0,15,0.00,0.00,95.97,95.97,95.97,95.97
194,https://www.amazon.com.mx/Learning-Love-Data-S...,Learning to Love Data Science: Explorations of...,4.0,13,302.59,212.67,NaN,0.00,302.59,0.00

In [8]:
df_50.shape

(143, 10)

In [9]:
df.shape

(306, 10)

In [10]:
df_hrpop = df.query('stars >= 4.5 and reviewers > 50')
df_hrpop.reset_index()

,index,url,title,stars,reviewers,...,cost_2,cost_3,kindle,kindle_2,kindle_3
0,16,https://www.amazon.com.mx/Feminism-Assistant-P...,Data Feminism,4.9,106,...,477.00,NaN,0.00,605.18,0.00
1,22,https://www.amazon.com.mx/DAX-Patterns-Second-...,DAX Patterns: Second Edition,4.8,150,...,596.91,NaN,0.00,822.41,0.00
2,28,https://www.amazon.com.mx/Data-Science-Transfo...,"R for Data Science: Import, Tidy, Transform, V...",4.7,953,...,327.00,NaN,0.00,4.53,0.00
3,29,https://www.amazon.com.mx/Storytelling-Data-Co...,Storytelling with Data: Let's Practice!,4.7,336,...,582.00,NaN,0.00,647.48,0.00
4,30,https://www.amazon.com.mx/Structure-Interpreta...,Structure and Interpretation of Computer Programs,4.7,320,...,0.00,NaN,0.00,132.07,0.00
...,...,...,...,...,...,...,...,...,...,...,...
33,91,https://www.amazon.com.mx/Machine-Learning-Poc...,Machine Learning Pocket Reference: Working wit...,4.5,103,...,245.05,NaN,0.00,515.18,0.00
34,92,https://www.amazon.com.mx/Data-Science-Beginne...,Data Science for Beginners: The Essential Cras...,4.5,90,...,0.00,149.99,149.99,0.00,149.99
35,93,https://www.amazon.com.mx/Bioinformatics-Data-...,Bioinformatics Data Skills: Reproducible and R...,4.5,67,...,745.41,NaN,0.00,776.00,0.00
36,94,https://www.amazon.com.mx/Numerical-Python-Sci...,Numerical Python: Scientific Computing and Dat...,4.5,61,...,0.00,NaN,0.00,712.60,0.00
37,95,https://www.amazon.com.mx/Malware-Data-Science...,Malware Data Science: Attack Detection and Att...,4.5,59,...,633.37,NaN,0.00,896.97,0.00

### Stars distribution

In [11]:
df['stars'].value_counts()

0.0    80
4.5    35
4.4    30
4.7    25
4.6    24
       ..
2.0     3
3.6     2
3.4     1
3.5     1
2.4     1
Name: stars, Length: 22, dtype: int64

In [12]:
df_50.shape

(143, 10)

In [13]:
df.query('reviewers > 100')

,url,title,stars,reviewers,cost,cost_2,cost_3,kindle,kindle_2,kindle_3
16,https://www.amazon.com.mx/Feminism-Assistant-P...,Data Feminism,4.9,106,605.18,477.00,NaN,0.0,605.18,0.0
22,https://www.amazon.com.mx/DAX-Patterns-Second-...,DAX Patterns: Second Edition,4.8,150,822.41,596.91,NaN,0.0,822.41,0.0
28,https://www.amazon.com.mx/Data-Science-Transfo...,"R for Data Science: Import, Tidy, Transform, V...",4.7,953,4.53,327.00,NaN,0.0,4.53,0.0
29,https://www.amazon.com.mx/Storytelling-Data-Co...,Storytelling with Data: Let's Practice!,4.7,336,647.48,582.00,NaN,0.0,647.48,0.0
30,https://www.amazon.com.mx/Structure-Interpreta...,Structure and Interpretation of Computer Programs,4.7,320,132.07,0.00,NaN,0.0,132.07,0.0
...,...,...,...,...,...,...,...,...,...,...
118,https://www.amazon.com.mx/Pandas-Everyone-Pyth...,Pandas for Everyone: Python Data Analysis,4.4,163,837.60,509.00,NaN,0.0,837.60,0.0
119,https://www.amazon.com.mx/Data-Science-Dummies...,Data Science for Dummies,4.4,131,590.69,379.00,NaN,0.0,590.69,0.0
142,https://www.amazon.com.mx/Data-Science-Big-Ana...,Data Science and Big Data Analytics: Discoveri...,4.3,130,0.00,897.00,NaN,0.0,0.00,0.0
143,https://www.amazon.com.mx/Doing-Data-Science-C...,Doing Data Science,4.3,118,137.91,307.00,NaN,0.0,137.91,0.0
159,https://www.amazon.com.mx/Data-Strategy-Profit...,Data Strategy: How to Profit from a World of B...,4.2,132,619.76,555.60,NaN,0.0,619.76,0.0

### Worst books

In [14]:
df_worst = df.query('stars < 4 and reviewers > 0')

In [15]:
df_worst.sort_values(by='stars', ascending=True)

,url,title,stars,reviewers,cost,cost_2,cost_3,kindle,kindle_2,kindle_3
225,https://www.amazon.com.mx/Data-Science-Program...,Data Science: 2 Books in 1: Python Programming...,1.0,1,211.60,0.0,NaN,0.00,211.60,0.00
223,https://www.amazon.com.mx/Data-Science-Finance...,Big Data Science in Finance,1.0,1,499.80,820.0,NaN,0.00,499.80,0.00
222,https://www.amazon.com.mx/Data-Science-Compreh...,Data Science: A Comprehensive Beginners Guide ...,1.0,2,342.80,0.0,NaN,0.00,342.80,0.00
224,https://www.amazon.com.mx/Ciencia-Datos-comple...,Ciencia de Datos: Guía completa para principia...,1.0,1,412.00,0.0,NaN,0.00,412.00,0.00
221,https://www.amazon.com.mx/JavaScript-Data-Scie...,JavaScript for Data Science,2.0,1,668.40,959.2,NaN,0.00,668.40,0.00
...,...,...,...,...,...,...,...,...,...,...
201,https://www.amazon.com.mx/Data-Science-Questio...,Data Science: Create Teams That Ask the Right ...,3.9,6,0.00,0.0,852.40,852.40,852.40,852.40
200,https://www.amazon.com.mx/Python-Data-Science-...,Python for Data Science: Master Data Analysis ...,3.9,6,0.00,0.0,107.87,107.87,0.00,107.87
199,https://www.amazon.com.mx/Color-Science-Concep...,"Color Science: Concepts and Methods, Quantitat...",3.9,7,673.26,0.0,NaN,0.00,673.26,0.00
198,https://www.amazon.com.mx/Python-Data-Analysis...,Python for Data Analysis: A Step-By-Step Guide...,3.9,27,254.20,179.6,NaN,0.00,254.20,0.00
197,https://www.amazon.com.mx/Analytics-Descriptiv...,"Fraud Analytics Using Descriptive, Predictive,...",3.9,41,0.00,747.0,NaN,0.00,0.00,0.00

In [16]:
df_worst_comsens = df_worst.query('reviewers > 5')

In [17]:
df_worst_comsens.sort_values(by='stars', ascending=True)

,url,title,stars,reviewers,cost,cost_2,cost_3,kindle,kindle_2,kindle_3
215,https://www.amazon.com.mx/Python-Beginners-Pro...,Python: 4 Books in 1: Ultimate Beginner's Guid...,3.3,14,234.80,0.00,NaN,0.00,234.80,0.00
214,https://www.amazon.com.mx/Data-Structures-Algo...,Data Structures and Algorithms with JavaScript...,3.4,20,770.79,307.00,NaN,0.00,770.79,0.00
213,https://www.amazon.com.mx/Data-Science-Scratch...,Data Science From Scratch: The #1 Data Science...,3.5,26,539.80,55.58,NaN,0.00,539.80,0.00
211,https://www.amazon.com.mx/Cracking-Data-Scienc...,Cracking the Data Science Interview: 101+ Data...,3.6,21,0.00,0.00,149.99,149.99,0.00,149.99
207,https://www.amazon.com.mx/Math-Machine-Learnin...,Math for Machine Learning: Open Doors to Data ...,3.7,28,387.82,0.00,NaN,0.00,387.82,0.00
...,...,...,...,...,...,...,...,...,...,...
197,https://www.amazon.com.mx/Analytics-Descriptiv...,"Fraud Analytics Using Descriptive, Predictive,...",3.9,41,0.00,747.00,NaN,0.00,0.00,0.00
198,https://www.amazon.com.mx/Python-Data-Analysis...,Python for Data Analysis: A Step-By-Step Guide...,3.9,27,254.20,179.60,NaN,0.00,254.20,0.00
199,https://www.amazon.com.mx/Color-Science-Concep...,"Color Science: Concepts and Methods, Quantitat...",3.9,7,673.26,0.00,NaN,0.00,673.26,0.00
200,https://www.amazon.com.mx/Python-Data-Science-...,Python for Data Science: Master Data Analysis ...,3.9,6,0.00,0.00,107.87,107.87,0.00,107.87
201,https://www.amazon.com.mx/Data-Science-Questio...,Data Science: Create Teams That Ask the Right ...,3.9,6,0.00,0.00,852.40,852.40,852.40,852.40

### Price DIst

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   url        306 non-null    object
 1   title      298 non-null    object
 2   stars      306 non-null    float64
 3   reviewers  306 non-null    int64
 4   cost       306 non-null    float64
 5   cost_2     306 non-null    float64
 6   cost_3     89 non-null     float64
 7   kindle     306 non-null    float64
 8   kindle_2   306 non-null    float64
 9   kindle_3   306 non-null    float64
dtypes: float64(7), int64(1), object(2)
memory usage: 24.0+ KB

In [19]:
df['cost'].value_counts()

0.00      120
905.18      3
137.91      2
499.80      2
912.45      2
         ...
590.69      1
822.41      1
359.80      1
654.60      1
329.80      1
Name: cost, Length: 180, dtype: int64

In [20]:
df.columns

Index(['url', 'title', 'stars', 'reviewers', 'cost', 'cost_2', 'cost_3',
       'kindle', 'kindle_2', 'kindle_3'],
      dtype='object')

In [21]:
df_exp = df.sort_values(by=['cost', 'cost_2', 'cost_3',
       'kindle', 'kindle_2', 'kindle_3'], ascending=False)

In [22]:
df_exp

,url,title,stars,reviewers,cost,cost_2,cost_3,kindle,kindle_2,kindle_3
17,https://www.amazon.com.mx/Hands-Introduction-D...,A Hands-On Introduction to Data Science,4.9,29,999.80,898.42,NaN,0.0,999.80,0.0
45,https://www.amazon.com.mx/Introduction-Data-Sc...,Introduction to Data Science: Data Analysis an...,4.7,16,999.00,599.20,NaN,0.0,999.00,0.0
148,https://www.amazon.com.mx/Data-Science-Google-...,Data Science on the Google Cloud Platform: Imp...,4.3,44,960.80,748.70,NaN,0.0,960.80,0.0
246,https://www.amazon.com.mx/Measuring-Abundance-...,Measuring Abundance: Methods for the Estimatio...,0.0,0,953.21,789.17,NaN,0.0,953.21,0.0
37,https://www.amazon.com.mx/Programming-Skills-D...,Data Science Foundations Tools and Techniques:...,4.7,30,945.42,630.48,NaN,0.0,945.42,0.0
...,...,...,...,...,...,...,...,...,...,...
259,https://www.amazon.com.mx/gp/video/ssoredirect...,NaN,0.0,0,0.00,0.00,NaN,0.0,0.00,0.0
268,https://www.amazon.com.mx/gp/video/ssoredirect...,NaN,0.0,0,0.00,0.00,NaN,0.0,0.00,0.0
283,https://www.amazon.com.mx/gp/video/ssoredirect...,NaN,0.0,0,0.00,0.00,NaN,0.0,0.00,0.0
286,https://www.amazon.com.mx/gp/video/ssoredirect...,NaN,0.0,0,0.00,0.00,NaN,0.0,0.00,0.0
291,https://www.amazon.com.mx/gp/video/ssoredirect...,NaN,0.0,0,0.00,0.00,NaN,0.0,0.00,0.0